<h1>About</h1>

<button ng-click="setClik()">{{blaa}}</button>

<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="images/futuramo-icons-2016-02-01.svg#i-emoticon-bangs-tongue-out-02"></use>
    </svg><label>i-emoticon-bangs-tongue-out-02</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-emoticon-bangs-tongue-out"></use>
    </svg><label>i-emoticon-bangs-tongue-out</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-confused-02"></use>
    </svg><label>i-confused-02</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-emoticon-bangs-suprised-02"></use>
    </svg><label>i-emoticon-bangs-suprised-02</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-emoticon-bangs-kiss-02"></use>
    </svg><label>i-emoticon-bangs-kiss-02</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-emoticon-bangs-sad-02"></use>
    </svg><label>i-emoticon-bangs-sad-02</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-emoticon-bangs-confused-02"></use>
    </svg><label>i-emoticon-bangs`-confused-02</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-emoticon-bangs-unsure-02"></use>
    </svg><label>i-emoticon-bangs-unsure-02</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-emoticon-bangs-smile-02"></use>
    </svg><label>i-emoticon-bangs-smile-02</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-emoticon-bangs-relaxed"></use>
    </svg><label>i-emoticon-bangs-relaxed</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-emoticon-relaxed"></use>
    </svg><label>i-emoticon-relaxed</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-emoticon-bangs-unsure"></use>
    </svg><label>i-emoticon-bangs-unsure</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-emoticon-bangs-sad"></use>
    </svg><label>i-emoticon-bangs-sad</label>
</div>
<div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="/about#i-emoticon-bangs-one-side-smile"></use>
    </svg><label>i-emoticon-bangs-one-side-smile</label>
</div>