<h1>About</h1>


  	<!-- <div ng-include="'/images/svgfiles.svg'"></div> -->
	<!-- <div ng-bind-html-unsafe="/images/svgfiles.html"></div> -->

	<svg viewBox="0 0 100 100">
		<use xlink:href="/images/svgfiles.svg#icon-2"></use>
	</svg>

	<svg viewBox="0 0 100 100">
		<use xlink:href="/images/svgfiles.svg#icon-5"></use>
	</svg>

	<svg viewBox="0 0 100 100">
		<use xlink:href="/images/svgfiles.svg#icon-6"></use>
	</svg>	

	<svg viewBox="0 0 100 100">
		<use xlink:href="#icon-6"></use>
	</svg>


	<!-- <svg viewBox="0 0 100 100">
		<use xlink:href="#icon-5"></use>
	</svg> -->