<h3>Gallery</h3>
<input type="text" ng-model="iconsPreview.searchQuery" ng-change="updateSearch()">

<div class="btn-pagination">
	<button
		ng-repeat="item in pages"	
		ng-class="{active: currentPage == $index}"
		type="button" class="btn btn-primary btn-xs"
		ng-click="goToPage($index)"
	>{{$index}}
	</button>
</div>

<div id="gallery">

	<section>
		<figure class="mid" ng-repeat="(i, item) in items | filter:iconsPreview.searchQuery">
			<figcaption>
				<p>Icon title:</p>
				<h2><a href="/icons/{{iconsPreview.style}}/{{item.name}}"><strong class="name" ng-bind="item.name"></strong></a></h2>
				<p>Tags for icon:
				<strong class="tag" ng-bind="item.tags"></strong></p>
				<p>Icon number: <strong class="seq" ng-bind="item.seqHash"></strong></p>
			</figcaption>
		</figure>
		<figure class="empty mid" ng-repeat="e in emptyItems"></figure>
	</section>
	</div>
</div>